[package]
edition = "2021"
name = "easy_ast_graph"
version = "0.0.0"

[lib]
crate-type = ["cdylib"]

[dependencies]
# Default enable napi4 feature, see https://nodejs.org/api/n-api.html#node-api-version-matrix
napi = { version = "2.12.2", default-features = false, features = ["napi4"] }
napi-derive = "2.12.2"
serde_json = "1.0.107"
easy_ast_error = { version = "0.1.0", path = "../../crates/error" }
easy_ast_visitor = { version = "0.1.0", path = "../../crates/visitor" }
easy_ast_graph_parser = { version = "0.1.0", path = "../../crates/graph_parser" }
easy_ast_napi = { version = "0.1.0", path = "../../crates/napi" }

[build-dependencies]
napi-build = "2.0.1"

[profile.release]
# This removes more dead code
#codegen-units = 1
lto = true
# Optimize for size
opt-level = "s"
# Strip debug symbols
#strip = "symbols"
